@import "tailwindcss";
@plugin '../../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html,
body {
  @apply h-full;
}

@theme {
  /* Colors */
  --color-primary: #26307c;
  --color-primary-foreground: #fafafa;
  --color-background: var(--color-neutral-50);
  --color-foreground: hsl(var(--heroui-foreground));
  --color-muted: var(--color-neutral-200);
  --color-muted-foreground: var(--color-neutral-700);
  /*  Fonts  */
  --font-plex-sans: var(--font-plex-sans), sans-serif;
}

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

/*Dark mode*/
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  background: var(--background);*/
/*  color: var(--foreground);*/
/*}*/
